.end-area {
    position: relative;
    grid-row: 7 / 10;
    grid-column: 7 / 10;
}
.triangle {
    position: absolute;
    inset: 0;
}
.green-triangle {
    clip-path: polygon(0 0, 100% 0, 50% 50%);
    background: var(--green-light);
}
.purple-triangle {
    clip-path: polygon(0 0, 50% 50%, 0 100%);
    background: var(--purple-light);
}
.blue-triangle {
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
    background: var(--blue-light);
}
.orange-triangle {
    clip-path: polygon(50% 50%, 100% 100%, 0 100%);
    background: var(--orange-light);
}
