.board-shadow {
    transition: filter 0.5s;
}
.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 6%;
    background-color: var(--grey-dark);
    gap: 1px;
}
