.new-game-overlay {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    background-color: #00000080;
}
.centered-area {
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
}
.play-button-front {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--white);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1),
        filter 250ms;

    & svg {
        padding: 18%;
    }
}
.play-button {
    position: relative;
    cursor: pointer;
    margin: -20%;

    &:hover .play-button-front {
        filter: brightness(120%);
        transform: translateY(-8px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }

    &:active .play-button-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }
}
.play-button-edge {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(
        to left,
        oklch(65% 0 0deg) 0%,
        oklch(80% 0 0deg) 20%,
        oklch(80% 0 0deg) 80%,
        oklch(65% 0 0deg) 100%
    );
    box-shadow: 3px 3px 8px #00000050;
}
.new-player-container {
    position: relative;
    display: flex;
    align-items: center;
}
.player-identity {
    display: flex;
    flex: 1;
    gap: 10%;
    padding: 15%;
}
.identity-button-front {
    display: flex;
    flex: 1;
    aspect-ratio: 1;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background-color: var(--white);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1),
        filter 250ms;

    & svg {
        padding: 15%;
        transition: fill 0.3s ease;
    }
}
.identity-button-pressed {
    .identity-button-front,
    &:hover .identity-button-front,
    &:active .identity-button-front {
        transform: translateY(-2px) !important;
        transition:
            transform 34ms,
            filter 250ms !important;
    }
}
.identity-button {
    display: flex;
    flex: 1;
    position: relative;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    cursor: pointer;

    &:hover .identity-button-front {
        filter: brightness(120%);
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }

    &:active .identity-button-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }
}
.identity-button-edge {
    position: absolute;
    inset: 0;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background: linear-gradient(to left, oklch(65% 0 0deg) 0%, oklch(80% 0 0deg) 20%, oklch(80% 0 0deg) 100%);
    box-shadow: 3px 3px 8px #00000050;
}
.new-player-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    text-align: center;
    color: var(--white);
    opacity: 0.8;

    @media (width <= 500px) {
        font-size: 0.8rem;
    }
}
