.yard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    aspect-ratio: 1;
    padding: 12.5%;
}
.yard-token-support {
    flex: 1;
    margin: 22%;
    border-radius: 100%;
}
.yard-token-support-purple {
    background: var(--purple-light);
    box-shadow:
        inset 5px 5px 15px hsl(276deg 70% 50%),
        inset -5px -5px 15px hsl(281deg 100% 60%);
}
.yard-token-support-green {
    background: var(--green-light);
    box-shadow:
        inset 5px 5px 15px hsl(116deg 41% 55%),
        inset -5px -5px 15px hsl(111deg 70% 70%);
}
.yard-token-support-orange {
    background: var(--orange-light);
    box-shadow:
        inset 5px 5px 15px hsl(32deg 70% 50%),
        inset -5px -5px 15px hsl(38deg 100% 60%);
}
.yard-token-support-blue {
    background: var(--blue-light);
    box-shadow:
        inset 5px 5px 15px hsl(212deg 70% 50%),
        inset -5px -5px 15px hsl(205deg 100% 60%);
}
