*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    user-select: none;
}
h1,
p {
    overflow-wrap: break-word;
    text-wrap: pretty;
}
:root {
    font-family: WendyOne-Regular, sans-serif;
    text-rendering: optimizelegibility;

    --black: #000000;
    --grey-dark: #808080;
    --grey: #BABABA;
    --grey-very-light: #F0F0F0;
    --white: #FFFFFF;
    --background: #1A1A2A;
    --default: #008E8E;
    --orange-dark: hsl(32 100% 42%);
    --orange: hsl(32 100% 50%);
    --orange-light: hsl(32 100% 60%);
    --orange-very-light: hsl(32 100% 75%);
    --purple-dark: hsl(276 100% 42%);
    --purple: hsl(276 100% 50%);
    --purple-light: hsl(276 100% 60%);
    --purple-very-light: hsl(276 100% 75%);
    --green-dark: hsl(116 60% 42%);
    --green: hsl(116 60% 50%);
    --green-light: hsl(116 60% 60%);
    --green-very-light: hsl(116 60% 75%);
    --blue-dark: hsl(212 100% 42%);
    --blue: hsl(212 100% 50%);
    --blue-light: hsl(212 100% 60%);
    --blue-very-light: hsl(212 100% 75%);
}

@font-face {
    font-family: WendyOne-Regular;
    src:
        local('WendyOne-Regular'),
        url('./fonts/WendyOne-Regular.ttf') format('truetype');
}
